body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* RESPONSIVE */
@media screen {
  .container {
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  /* HEADER */
  h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
  }
  h2 {
    font-size: 40px;
    margin: 2rem;
  }
  span {
    color: indigo;
  }

  /* FORM */
  .divForm {
    text-align: center;
  }
  .divForm > p {
    font-weight: bold;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 3%;
    box-shadow: 0.5rem 0.5rem 1rem;
    margin: 1rem;
  }

  label {
    margin-top: 1rem;
  }

  form > button {
    margin: 0.5rem auto;
    width: 5rem;
  }

  /* LISTPACIENT */
  .divListPacient {
    text-align: center;
  }
  .divListPacient > p {
    font-weight: bold;
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
  .container {
    padding: auto;
    justify-content: space-around;
  }
  main {
    display: flex;
  }

  /* FORM */
  .divForm {
    width: 30%;
  }

  h2 {
    font-size: 30px;
    margin: 0;
  }
  /* LISTPACIENT */
  .divListPacient {
    width: 60%;
  }
  /* LISTPACIENT */
  form > p {
    margin: 0;
  }
  .mess {
    display: flex;
  }
  .divListPacient > form {
    margin: 2rem 0 1rem 2rem;
  }
  p > span {
    margin: 0 0 0.5rem 1rem;
  }
  .divListPacient > div {
    overflow: scroll;
    height: 80vh;
  }
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 750px;
  } */
}

@media screen and (min-width: 1024px) {
  /* .container {
    max-width: 1020px;
  } */
  .divForm {
    width: 30%;
  }
}
